version: '3.8'

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: privat_ai_qdrant
    ports:
      - "6333:6333"
    volumes:
      - ./qdrant_data:/qdrant/storage
    restart: always
